{% extends 'base.html' %}



{% block body %}

<div class="container">

    <div class="calculadora" style="margin-top: 50px;">

        <br>
        <h1><u>Calculadora do Teorema de Pitágoras</u></h1>
        <hr>
        <p>Insira os dois catetos do triângulo equilátero para obter a hipotenusa:</p>
        <br>

        <form action="/calculadora" method="POST">

            <label action="/calculadora" method='POST'>Cateto01:</label>
            <input
                    class="form-control-sm"
                    type="number"
                    name="cateto01"
                    id="cateto01"
                    min=1
                    step=0.01
                />

                <br>
                <br>

            <label action="/calculadora" method='POST'>Cateto02:</label>
            <input
                    class="form-control-sm"
                    type="number"
                    name="cateto02"
                    id="cateto02"
                    min=1
                    step=0.01
                />

            <br>
            <br>

            <button type="submit" class="btn btn-primary">Calcular !</button>



            <br>

            {% if error %}
            <br>
            <br>
            <h3><strong>Mensagem de erro!</strong></h3>
                <h4>Por favor, insira valores <strong>válidos</strong> de catetos.</h4>
            {% endif %}
            <br>
            <br>
            <hr>



            <h1><u>Resultados</u></h1>
            <h4>Apagar todos resultados? <a class="btn btn-outline-dark btn-md bg-danger" href="/calculadora/deletar/todos" role="button">Sim</a></h4>
            <hr>
            {% for triangulo in triangulos %}

                <h3>Triângulo {{ triangulo.id }}</h3>
                <p>A hipotenusa do triângulo equilátero de catetos {{ triangulo.cateto01 }} e {{ triangulo.cateto02 }} é : {{ triangulo.hipotenusa() }}.</p>
                <p>{{ triangulo }}</p>
                <br>
                <p>Alterar dados? <a class="btn btn-outline-dark btn-sm bg-info" href="/calculadora/editar/{{ triangulo.id }}" role="button">Sim</a></p>
                <p>Deletar resultado? <a class="btn btn-outline-dark btn-sm bg-warning" href="/calculadora/deletar/{{ triangulo.id }}" role="button">Sim</a></p>
                <hr>

                {% endfor %}




            </div>
        </div>


{% endblock %}