{% extends 'base.html' %}



{% block body %}
<
<div class="container">

    <div class="calculadora" style="margin-top: 50px;">

        <br>
        <h1><u>Calculadora do Teorema de Pitágoras</u></h1>
        <hr>
        <p>Insira os dois catetos do triângulo equilátero para obter a hipotenusa:</p>
        <br>

        <form action="/calculadora/editar/{{ triangulo_id }}" method="POST">

            <label for="cateto01" method='POST'>Cateto01:</label>
            <input
                    class="form-control-sm"
                    type="number"
                    name="cateto01"
                    id="cateto01"
                    min=1
                    step=0.01
                />

                <br>
                <br>

            <label for="cateto01" method='POST'>Cateto02:</label>
            <input
                    class="form-control-sm"
                    type="number"
                    name="cateto02"
                    id="cateto02"
                    min=1
                    step=0.01
                />

            <br>
            <br>

            <button type="submit" class="btn btn-primary">Calcular !</button>



            <br>

            {% if error %}
            <br>
            <br>
            <h3><strong>Mensagem de erro!</strong></h3>
                <h4>Por favor, insira valores <strong>válidos</strong> de catetos.</h4>
            {% endif %}
            <br>
            <br>
            <hr>

            </div>
        </div>
>
{% endblock %}
