{% extends 'base.html' %}


{% block head %}


{% endblock %}



{% block body %}




<div class="jumbotron">

    <picture>
    <source media="(min-width:800px)" srcset="https://wallpapercave.com/wp/wp2026836.jpg">
    <img src="../static/img/jumbotron_greece02.jpg"
         class="jumbotron__background"
         style="opacity: 10;
                border-style: solid;
                border-color: black;"
         alt="Foto de paisagem da Grécia, origem de Pitágoras">
  </picture>
    
  
  
  
    <div class="container text-white">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container-fluid"
           style="background-color: rgba(0, 0, 0, 0.712);
                  margin-top: -15px;
                  margin-left: 280px;
                  border-radius: 10px;
                  border-style: solid;
                  border-color: rgba(0, 225, 255, 0.883);
                  color: rgb(240, 248, 255);">
        <h1 class="display-4"><u>PitagorasAPI</u></h1>
        <br>
        <br>
        <p class="lead fs-5 justify-content-center">Há um certo tempo, no berço da Grécia, nasceu o famoso Pitágoras, icone protagonista e inspiração desse projeto. PitagorasAPI realiza o cálculo do Teorema de Pitágoras, tendo como entrada dois catetos de um triângulo retângulo e retornando como resultado sua respectiva hipotenusa.</p>
        <hr class="my-4">
        <p class="lead fw-bold">Viva Pitágoras!</p>
        <a class="btn btn-outline-dark btn-lg bg-info"
           style="margin-bottom: 25px;" href="/calculadora" role="button"><strong>Calculadora</strong></a>
      </div>
      <br>
      

      <br>

    </div>
    <!-- /.container -->
  </div>
  <!-- /.jumbotron -->

      <br>
      <hr>

  <div class="container marketing">


  <div class="row">
    <div class="span4 col-6">
      <br>
      <img class="rounded" alt="100x100" src="../static/img/rounded_pitagoras02.png"
          data-holder-rendered="true">
          <br>
      <h2>Teorema de Pitágoras</h2>
      <p class="lh-350">Relaciona as medidas dos lados de um triângulo retângulo.
      Neste tipo de triângulo o quadrado da hipotenusa é igual à soma dos quadrados dos catetos,
      dando resultado à famosa equação a² = b² + c², onde "a" é a hipotenusa e "b" e "c" os catetos.
      Quer testar na prática? Só clicar no Mais Detalhes!</p>
      <p><a class="btn btn-outline-dark btn-lg" style="background-color: rgb(0, 202, 169);" href="https://pt.wikipedia.org/wiki/Teorema_de_Pit%C3%A1goras" target="_blank">Mais Detalhes &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4 col-6">
    <br>
      <img class="rounded" src="../static/img/rounded_books02.png">
      <br>
      <h2>Autor</h2>
      <p class="lh-350">Bem vindo! Sou Pedro M. Guedes e sou estudante de analise e desenvolvimento de sistemas.
        Estou estudando TI há 1 ano, tendo como foco principalmente o back-end. Não possuo experiência
        profissional ainda mas tenho alguns projetos pessoais. Interessado? Basta clicar no botão abaixo =]
      </p>
      <p><a class="btn btn-outline-dark btn-lg" style="background-color: rgb(0, 202, 169);" href="https://github.com/terrotar" target="_blank">Mais Projetos &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->



  </div> <!-- /container -->



  <hr class="featurette-divider col-12">


  <div class="featurette col-10">
    <img class="featurette-image pull-right float-start" style="margin-left: 220px; margin-right: 15px;" src="../static/img/logo_windows02.png">
    <br>
    <br>
    <div class="container">
      <h2 class="featurette-heading float-start"> Calculadora no Windows</h2>
      <p class="lead float-start">Segue uma versão disponível para download específico para o sistema operacional Windows.</p>
    </div>
  </div>
  <a class="btn btn-outline-primary btn-lg bg-dark" style="margin-left: 490px;" href="#" role="button">Windows</a>


  <hr class="featurette-divider col-10" style="margin-left: 150px;">

  <div class="featurette col-10">
    <img class="featurette-image pull-left float-end" src="../static/img/logo_linux.png">
    <br>
    <div class="container">
      <h2 class="featurette-heading float-end">Calculadora no Linux</h2>
      <p class="lead text float-end">Segue uma versão disponível para download específico para o sistema operacional Linux.</p>
    </div>
  </div>
  <a class="btn btn-outline-primary btn-lg bg-dark" style="margin-left: 1190px;" href="#" role="button">Linux</a>

  <hr class="featurette-divider col-10" style="margin-left: 150px;">

  <div class="featurette col-10">
    <img class="featurette-image pull-right float-start" style="margin-left: 220px; margin-right: 15px;" src="../static/img/logo_macOS.png">
    <br>
    <h2 class="featurette-heading">Calculadora no MacOS</h2>
    <p class="lead">Segue uma versão disponível para download específico para o sistema operacional MacOS.</p>
    <a class="btn btn-outline-primary btn-lg bg-dark" href="#" role="button">MacOS</a>
  </div>

  <hr class="featurette-divider col-10" style="margin-left: 150px;">


</div><!-- /.container -->



</main>


{% endblock %}
